.bg{
    background-color: #501a0e;
}
.login{
    list-style-type: none;
}
.login:hover{
color: blue;
}
.Search{
    list-style-type: none;
 
}
.text{
    color: aliceblue;
}
.fr{
    font-family: Source Sans Pro ExtraLight;
}
.fr:hover{
    color: blue;
}

.mas{
    font-family: Brush Script MT;
    color: red;
   
}

.forgot{
    margin-left: 100px;
}
.btn{
    width: 100%;
}
.Join{
    list-style-type: none;
}
.navbar-nav .nav-link:hover{
    color: blue;
}